.home-container {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 5px;
  
}

p {
  font-size: larger;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
button {
  margin: 5px;
  height: 30px;
  width: 70px auto;
  border-radius: 5px;
  border-width: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(14, 1, 51);
  font-weight: bold;
}
.intro-section {
  flex: auto;
  margin: 8px;
  color: rgb(0, 0, 0);
  font-size: large;
  border: 2px;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2{
  font-size: 32px;
  line-height: 1.25em;
  text-transform: none;
  letter-spacing: 0;
  font-weight: bolder;
  font-style: normal;
  
  text-align: center;
  color: rgb(14, 1, 51);
}
@media(max-width:768px){
  p{
    font-size: small;
  }
  h2{
    font-size: medium;
  }
}